name: Build & Push container image to GCP Artifact Registry (on PR commit push)

on:
  pull_request:
    branches:
      - '*'

jobs:
  public_build_push:
    runs-on: ubuntu-24.04
    env:
      REGISTRY_URL: "asia-northeast3-docker.pkg.dev"
      REGISTRY_PATH: "next-gen-infra/furiosa-ai"
      IMAGE_NAME: "furiosa-device-plugin"
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: docker/setup-buildx-action@v3

      - name: public registry login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: "_json_key"
          password: ${{ secrets.GAR_JSON_KEY }}

      - name: Build and publish PR image with SHA
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: '${{ env.REGISTRY_URL }}/${{ env.REGISTRY_PATH }}/${{ env.IMAGE_NAME }}:${{ github.event.pull_request.head.sha }}'
